@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
body {
    background: #f2f2f2;
    font-family: 'proxima-nova-soft', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    border: 0;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-screen {
    height: 100%;
    z-index: 500;
    position: fixed;
    background-color: #000;
    opacity: 1;
    right: -285px;
    /* start off behind the scenes */
    -webkit-font-smoothing: antialiased;
    position: fixed;
    width: 285px;
}

.nav-screen .active {
    display: block;
}


/* nav header links */

.nav-header {
    background-color: white;
}

.nav-brand {
    position: fixed;
    left: 0;
    z-index: 600;
    padding: 10px;
}

.nav-brand img {
    width: 50px;
}

.fa-bars {
    display: none !important;
    color: #4D5B37;
    float: right;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 500;
    cursor: pointer;
}

.fa-times {
    color: #4D5B37;
    float: right;
    padding: 20px;
    right: 0;
    z-index: 600;
    cursor: pointer;
}

.header-links {
    position: fixed;
    width: 100%;
    z-index: 500;
}

.header-links li {
    color: white;
    display: inline;
    float: right;
    padding: 15px;
    font-size: 16px;
}

.header-links a {
    font-weight: bold;
    color: #FCD729;
    -webkit-transition: all 0.2s ease-in;
}

.header-links p {
    text-align: left;
    padding-top: 50px;
    padding-left: 15px;
    color: green;
    font-weight: bold;
}

.header-links img {
    padding: 5px;
    margin: 15px;
}

.header-links a:hover {
    color: #4D5B37 !important;
}


/* slide out nav menu styles */

.nav-container_news {
    padding-top: 10%;
}

.nav-links {
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-links ul {
    margin-top: 15%;
    text-align: center;
    padding-top: 10%;
}

.nav-links a {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 2.5;
    font-weight: bold;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.nav-links a:hover {
    color: #4D5B37;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

#fp-nav ul li .fp-tooltip {
    color: #5F5F5F !important;
}

.profile .promotions {
    width: 100%;
    height: 100%;
}

.profile .grid {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    position: relative;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}

.profile .grid .shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 50%);
}

.navigation {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 50px;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    position: relative;
    width: 8px;
    height: 8px;
    margin: 15px 0;
}

.navigation li a {
    background-color: #fff;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    display: block;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.navigation li a.active {
    background-color: #b10000;
}

h1 {
    text-align: center;
    font-weight: bold;
}

section.courses {
    width: 659px;
}

article {
    clear: both;
    overflow: auto;
    width: 200%;
}

hgroup {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 150px;
    margin-top: 8px;
}

figure {
    padding: 5px;
    margin: 20px;
}

article p {
    padding-left: 150px;
    padding-right: 250px;
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    max-width: 100%;
    height: 470px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    /*margin: 30px;*/
}

.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
}

.post-module .thumbnail {
    background: #000000;
    height: 400px;
    overflow: hidden;
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-module .thumbnail .date .day {
    font-size: 18px;
}

.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase;
}

.post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #0e6e05;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 26px;
    font-weight: 700;
}

.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #0e6e05;
    font-size: 20px;
    font-weight: 400;
}

.post-module .post-content .description {
    display: none;
    color: #666666;
    font-size: 14px;
    line-height: 1.8em;
}

.post-module .post-content .post-meta {
    margin: 20px 0 10px 0;
    color: #999999;
}

.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}

.post-module .post-content .post-meta a {
    color: #999999;
    text-decoration: none;
}

.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}

.container_news {
    max-width: 1080px;
    min-width: 640px;
    margin: 0 auto;
}

.container_news:before,
.container_news:after {
    content: '';
    display: block;
    clear: both;
}

.container_news .column {
    width: 50%;
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.container_news .column .demo-title {
    margin: 0 0 15px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.container_news .info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.container_news .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.container_news .info span {
    color: #666666;
    font-size: 12px;
}

.container_news .info span a {
    color: #000000;
    text-decoration: none;
}

.container_news .info span .fa {
    color: #e74c3c;
}

.card-read-more {
    text-align: center;
}

.card-read-more hr {
    color: 1px solid #D4D4D4;
}

.card-read-more a {
    text-decoration: none !important;
    padding-top: 20px;
    font-weight: 600;
    text-transform: uppercase
}

footer {
    font-size: 100%;
    padding-top: 200px;
    text-align: center;
}